*{
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    height: 100vh;
}

section{
    width: 100%;
    height: 100vh;
}

.w-100{
    width: 100%;

}

.w-75{
    width: 75%;
}

.w-25{
    width: 25%;
}

.h-100{
    height: 100%;
}

.h-75{
    height: 75%;
}

.h-25{
    height: 25%;
}

.d-flex{
    display:flex;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content-space-evenly{
    justify-content: space-evenly;

}

.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

.bg-yellow{
    background-color: yellow;
}
.bg-brown{
    background-color: brown;
}

.bg-green{
    background-color: green;
}

.box{
    margin: 10px;
    height: 400px;
    width: 400px;
    background-color: brown;
    border-radius: 8px;
}
.img{
    background-image: url("./img1.jpg");
    background-size: cover;
    background-position: center;
}