*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
    background-color: rgb(255, 173, 143);
}


.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

[class*="col"] {
     padding: 10px;

}
