* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    
}

.bg-grey{
    background-color: rgb(187, 186, 186);
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
   
}



.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.66%;
}

.d-flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-baseline{
    justify-content: baseline;
}

.justify-content-end{
    justify-content: end;
}
.align-items-center{
    align-items:center;
}

.align-items-baseline{
    align-items: baseline;
}
.text-size{
    font-size: 20px;

}
.margin{
    margin:20px;
    
}

.padding-10{
    padding: 10px;
}

.text-design{
    color:white;
    position: relative;
    top:300px;

}

[class*="col"] {
    padding: 10px;
    margin: 15px;
}

.nav-img{
    height:20px;
    width:30px;
    margin:0.18px;
}
.left-nav{
    width:100%;


}

.right-nav{
  padding: 15px 15px;
}

.middle-nav{
    padding: 10px;
}

.nav-bar{
    margin:10px;
}

.nav-bar1{
    margin:10px;
}

.ri-user-line{
    margin: 10px;
    padding: 20px 20px;
}
.ri-shopping-cart-line{
    margin: 10px;
    padding: 20px 20px;
}

.ri-sort-desc{
     margin: 10px;
    padding: 20px 20px;
}

.text{
    position: relative;
    top:280px;
    left:200px;
    color:white;
    font-size:25px;
    font-weight: 600;
}

.t-shirt{
    background-color: rgb(209, 209, 209);
}



.section-1{
    background-image: url("./img-1.webp");
    background-size:cover;
    height:60%;
    
}


.button{
    height:10%;
    width:30%;
    position: relative;
    top:320px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 8px;
    transition: transform ease 0.1s;
}

.button:hover{
   cursor: pointer;
    transform:scale(1.08);
}

.links{
    margin: 20px;
    color: black;
    font-weight:600;
    text-decoration: none;
}

.shop-now{
    height:50px;
    width:200px;
    margin: 10px;
    padding: 15px 15px;
    border-radius: 8px;
    background-color: rgb(172, 170, 170);
    position: relative;
    bottom:120px;
    left:30px;
}

.shop-now:hover{
    cursor: pointer;
}

.shop-now-1{
    height:50px;
    width:200px;
    margin: 10px;
    padding: 15px 15px;
    border-radius: 8px;
    background-color: rgb(172, 170, 170);
    position: relative;
    bottom:180px;
    left:320px;
}

.shop-now-1:hover{
    cursor: pointer;
}

.shop-now-2{
    height:50px;
    width:200px;
    margin: 10px;
    padding: 15px 15px;
    border-radius: 8px;
    background-color: rgb(172, 170, 170);
    position: relative;
    bottom:235px;
    left:720px;
}

.shop-now-2:hover{
    cursor: pointer;
}

.shop-now-3{
    height:50px;
    width:200px;
    margin: 10px;
    padding: 15px 15px;
    border-radius: 8px;
    background-color: rgb(172, 170, 170);
    position: relative;
    bottom:300px;
    left:1120px;
}
.shop-now-3:hover{
    cursor: pointer;
}

.image{
    transition: transform ease 0.1s;
}

.image:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.box{
 background-color: rgb(251, 248, 248);
 margin: 15px;
}
.shop-the-collection{
    height:20%;
    background-color: black;
    color: white;
}

.images{
    background-color: aliceblue;
}

.sale{
    height:10%;
    width: 5%;
    padding:10px 10px;
    background-color: red;
    border-radius: 8px;
   
}

.border{
    border: 3px solid black;
}





