* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    
}

.bg-grey{
    background-color: rgb(187, 186, 186);
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 70%;
   
}

.column-2{
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.66%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end{
    justify-content: end;
}
.a-items{
    align-items:center;
}
.text-size{
    font-size: 20px;

}
.ri-twitter-fill{
    font-size: 25px;
}
.ri-facebook-circle-fill{
    font-size: 25px;
}
.ri-instagram-fill{
    font-size: 25px;
}
.ri-javascript-fill{
    font-size: 100px;
   
}
.ri-javascript-line{
    font-size: 100px;
}

.ri-reactjs-line{
    font-size: 100px;
}
.ri-nextjs-fill{
    font-size: 100px;
}
.ri-nodejs-line{
    font-size: 100px;
}
.ri-copyright-fill{
    font-size: 100px;
}

.ri-creative-commons-fill{
    font-size: 100px;
}
.ri-leaf-fill{
    font-size: 100px;
}


.box{
    height:300px;
    width:800px;
    margin:10px;
    padding-top: 20px;
    background-color: white;
    border-radius: 8px;
}
.text-design{
    font-family: fantasy;
    color:rgb(93, 242, 93);

}
.language{
    width:50%;
    display: grid;
    grid-template-columns: repeat(4,300px);
}

[class*="col"] {
    padding: 10px;
}